@charset "utf-8";
/* CSS Document */

/*This is to give my mainWraper and content a size and background*/
#mainWrapper{
	width:414px;
	height:100%;
	background-color: white;
	margin:0px auto;
	/*This line centers my page*/
	}

/*This is so that the padding and border added later dont't add to my overall box size, really important*/
*{
	box-sizing: border-box;
}

header{
	width: 414px;
	height: 80px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	background-color:rgba(31,25,26,1.00);
	
}

header h1{
	margin:27px 100px 15px 5px;
	text-align: center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	float: right;
	
}

header img{
	float: left;
	width: 60 px;
	height: 60px;
	margin: 10px 10px 0px 15px;
	border-radius: 50%;
	
}

 nav{
	width:409px;
	height: 30px;
	clear: both;
	margin: 10px 0px 10px 0px;
	padding: 2px;
	
}

nav ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	}

nav li {
	display:inline-block;
	width: 69px;
	padding: 5px;
	margin: 0px 5px 0px 0px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .7em;
}

nav a{
	text-decoration: none;
	color:black;
}

section figure{
	height: 200px;
	width: 414px;
	margin: 0px;
	padding: 0px;
}
/*section figure img{
	height: 200px;
	width: 414px;
	margin: 0px;
	padding; 0px;
}*/

.hero p{
	margin: 8px;
	padding: 5px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.pics{
	height: 340px;
	width: 414px;
	margin: 0px;
	padding: 25px 30px 15px 25px;
	background-color:rgba(213,210,210,0.75);
	/*trying a grid styling method*/
	display: grid;
	grid-template-columns: 140px 100px;
	grid-template-rows: 100px 100px;
	grid-gap: 64px;
			
}

.gridImage{
	height: 115px;
	width: 165px;
	/*object-fit: cover;*/
	/*margin: 20px;
	padding: 0px;
	float: left;*/ /*These were other things that I tried that didn't quite work*/
}



footer{
	clear: both;
	margin:-10px 0px 0px 0px;
	padding: 0px;
	width: 414px;
	height: 25px;
	background-color:rgba(31,25,26,1.00);
}

footer p{
	margin: 0px;
	padding: 5px;
	text-align: center;
	color: white;
	font-size: .7em;
	font-family: Arial, Helvetica, sans-serif;
}